<main class="container-main">
  <nav class="navbar-container">
    <img src="../../../assets/logoNavSecond.jpg" alt="" class="logo-nav" />

    <button
      color="gray"
      mat-button
      [matMenuTriggerFor]="menu"
      class="menu-burger"
    >
      <mat-icon class='icon-menu-burger'>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/wireframeOne">First Link</button>
      <button mat-menu-item routerLink="/wireframeTwo">Second Link</button>
      <button mat-menu-item routerLink="/wireframeThree">Third Link</button>
    </mat-menu>

    <ul class="ul-container">
      <li class="list-item">
        <a class="nav-link" routerLink="/wireframeOne">First Link</a>
      </li>
      <li class="list-item">
        <a class="nav-link" routerLink="/wireframeTwo">Second Link</a>
      </li>
      <li class="list-item">
        <a class="nav-link" routerLink="/wireframeThree">Third Link</a>
      </li>
      <li class="list-item">
        <a class="nav-link" routerLink="">Fourth Link</a>
      </li>
      <li class="list-item">
        <a class="nav-link" routerLink="">Fifth Link</a>
      </li>
    </ul>
  </nav>

  <shared-form
    title="Two line long header example for your web project"
    subtitle="Poster can be one of the effective marketing and advertising materials. It is also a great tool to use when you want to present your."
    description="No spam, notifications only about new products, updates and freebies.
    You can always unsubscribe."
  ></shared-form>

  <div class="img-phone">
    <img
      src="../../../../assets/iPhoneX.png"
      alt="logo iPhone X"
      class="img-iphone"
    />
  </div>

  <section class="first-section-container">
    <p class="first-section-paragraph">
      Like rock stars, asteroids have been given their fair share of urban myth
      and lore. Many have attributed the extinction of the dinosaurs to the
      impact of a huge asteroid on the earth.
    </p>
  </section>

  <section class="second-section-container">
    <div class="content">
      <wireframes-card-features
        title="Heading"
        description="You will likely be required to install the fixed mounts. These are what will keep the apparatus stable and secure with your computer monitor in it. Follow directions carefully so that
    you can be sure to get everything."
        image="../../../../assets/iconStar.svg"
      ></wireframes-card-features>
    </div>

    <div class="content">
      <wireframes-card-features
        title="Heading"
        description="You will likely be required to install the fixed mounts. These are what will keep the apparatus stable and secure with your computer monitor in it. Follow directions carefully so that
    you can be sure to get everything."
        image="../../../../assets/iconStar.svg"
      ></wireframes-card-features>
    </div>
    <div class="content">
      <wireframes-card-features
        title="Heading"
        description="You will likely be required to install the fixed mounts. These are what will keep the apparatus stable and secure with your computer monitor in it. Follow directions carefully so that
    you can be sure to get everything."
        image="../../../../assets/iconStar.svg"
      ></wireframes-card-features>
    </div>
  </section>

  <section class="third-section-container">
    <wireframes-statistics
      title="23.4K"
      description="Active Merchants"
    ></wireframes-statistics>
    <wireframes-statistics
      title="$3.4K"
      description="Revenues in 2018"
    ></wireframes-statistics>
    <wireframes-statistics
      title="873K"
      description="Downloads"
    ></wireframes-statistics>
    <wireframes-statistics
      title="87+"
      description="Countries"
    ></wireframes-statistics>
    <wireframes-statistics
      title="$58"
      description="Revenue Per Hour"
    ></wireframes-statistics>
  </section>

  <section class="fourth-section-container">
    <div class="fourth-section-content">
      <h3 class="fourth-section-title">Short Heading</h3>
      <p class="fourth-section-sub-title">
        Each and every one of us has that moment when we are suddenly stunned
        <br />when we come face to face with the enormity of the universe.
      </p>

      <div class="steps">
        <wireframe-steps
          title="Step 1"
          description="Third you will likely be required to install the fixed mounts. These are what will keep the apparatus stable and secure."
        ></wireframe-steps>

        <wireframe-steps
          title="Step 2"
          description="Third you will likely be required to install the fixed mounts. These are what will keep the apparatus stable and secure."
        ></wireframe-steps>
        <wireframe-steps
          title="Step 3"
          description="Third you will likely be required to install the fixed mounts. These are what will keep the apparatus stable and secure."
        ></wireframe-steps>
      </div>
    </div>
  </section>

  <section class="fifth-section-container">
    <div class="fifth-section-content">
      <div class="left-section">
        <div class="step-icon-div">
          <img src="../../../../assets/iconStar.svg" alt="" class="step-icon" />
        </div>
        <h3 class="fifth-section-title">Heading</h3>
        <p class="fifth-section-paragraph">
          The beauty of astronomy is that anybody can do it. From <br />
          the tiniest baby to the most advanced astrophysicist, there <br />
          is something for anyone who wants to enjoy astronomy.
        </p>
        <p class="fifth-section-quote">
          <a href="#" class="fifth-section-quote">Learn more</a>
        </p>
      </div>
      <div class="rigth-section">
        <img
          src="../../../../assets/iPhoneX2.png"
          alt=""
          class="fifth-section-img"
        />
      </div>
    </div>
  </section>

  <section class="sixth-section-container">
    <div class="sixth-section-content">
      <wireframe-card-blog
        image="../../../../assets/Image.svg"
        date="May 14, 2019"
        title="Heading"
        description="Moment in the life of any aspiring astronomer of that it is time to buy that first telescope."
        iconOne="../../../../assets/visibility.svg"
        statisticOne="1.4K"
        iconTwo="../../../../assets/mess.svg"
        statisticTwo="1.4K"
        class="card-blog"
      ></wireframe-card-blog>
      <wireframe-card-blog
        image="../../../../assets/Image.svg"
        date="May 14, 2019"
        title="Two line header example"
        description="Moment in the life of any aspiring astronomer of that it is time to buy that first telescope."
        iconOne="../../../../assets/visibility.svg"
        statisticOne="1.4K"
        iconTwo="../../../../assets/mess.svg"
        statisticTwo="1.4K"
        class="card-blog"
      ></wireframe-card-blog>
      <wireframe-card-blog
        image="../../../../assets/Image.svg"
        date="May 14, 2019"
        title="Heading"
        description="Moment in the life of any aspiring astronomer of that it is time to buy that first telescope."
        iconOne="../../../../assets/visibility.svg"
        statisticOne="1.4K"
        iconTwo="../../../../assets/mess.svg"
        statisticTwo="1.4K"
        class="card-blog"
      ></wireframe-card-blog>
      <wireframe-card-blog
        image="../../../../assets/Image.svg"
        date="May 14, 2019"
        title="Two line header example"
        description="Moment in the life of any aspiring astronomer of that it is time to buy that first telescope."
        iconOne="../../../../assets/visibility.svg"
        statisticOne="1.4K"
        iconTwo="../../../../assets/mess.svg"
        statisticTwo="1.4K"
        class="card-blog"
      ></wireframe-card-blog>
    </div>
  </section>

  <section class="header-container">
    <shared-form
      title="Two line long header example with text for your another"
      subtitle="Each and every one of us has that moment when we are suddenly stunned when we come face to face with the enormity of the universe."
      description="No spam, notifications only about new products, updates and freebies.
      You can always unsubscribe."
    ></shared-form>
  </section>

  <footer class="footer-container">
    <div class="footer-content">
      <div>
        <img src="../../../../assets/logoNavSecond.jpg" alt="" />
      </div>

      <section class="footer-links">
        <div class="footer-links-a">
          <shared-footer-links></shared-footer-links>
        </div>

        <div class="social-media-links">
          <div class="social-media">
            <!-- <box-icon name="meta" color="gray" type="logo"></box-icon> -->
            <img src="../../../../assets/facebook.svg" alt="" />
            <span>Facebook</span>
          </div>
          <div class="social-media">
            <img src="../../../../assets/youtube.svg" alt="" />
            <!-- <box-icon name="youtube" color="gray" type="logo"></box-icon> -->
            <span>Youtube</span>
          </div>
          <div class="social-media">
            <div class="social-media">
              <img src="../../../../assets/ig.svg" alt="" />
              <!-- <box-icon
                name="instagram-alt"
                color="gray"
                type="logo"
              ></box-icon> -->
              <span>Instagram</span>
            </div>
          </div>
          <div class="social-media">
            <img src="../../../../assets/twiter.svg" alt="" />
            <!-- <box-icon name="twitter" color="gray" type="logo"></box-icon> -->
            <span>Twiter</span>
          </div>
        </div>
      </section>
    </div>

    <div class="copyright-container">
      <div class="copyright-content">
        <p>© Copyright 2020 Pixsellz - Premium UI Goods for Designers</p>
      </div>

      <div>
        <ul class="copyright-links">
          <li>First Link</li>
          <li>Second Link</li>
          <li>Third Link</li>
        </ul>
      </div>
    </div>
  </footer>
</main>
