<div class="footer-links-a-1">
  <div class="footer-links-col">
    <ul>
      <li>Category</li>
      <li>First Link</li>
      <li>Second Link</li>
      <li>Third Link</li>
    </ul>
  </div>

  <div class="footer-links-col">
    <ul>
      <li>Category</li>
      <li>First Link</li>
      <li>Second Long Link</li>
      <li>Third Link</li>
      <li>Fourth Long Link</li>
      <li>Fifth Link</li>
      <li>Sixthg Long Link</li>
    </ul>
  </div>
  <div class="footer-links-col">
    <ul>
      <li>Category</li>
      <li>First Link</li>
      <li>Second Long Link</li>
      <li>Third Link</li>
      <li>Fourth Long Link</li>
    </ul>
  </div>
</div>
