<div class="card-sixth-section">
  <img src="{{ image }}" alt="" class="card-img-sixth-section" />
  <span class="date">{{ date }}</span>
  <h4 class="card-title-sixth-section">{{ title }}</h4>
  <p class="card-paragraph-sixth-section">
    {{ description }}
  </p>
  <div class="statistics-sixth-section">
    <div>
      <!-- <box-icon name="show" color="gray"></box-icon> -->
      <img src="{{ iconOne }}" alt="" />
      <span>{{ statisticOne }}</span>
    </div>

    <div>
      <!-- <box-icon color="gray" name="chat"></box-icon> -->
      <img src="{{ iconTwo }}" alt="" />
      <span>{{ statisticTwo }}</span>
    </div>
  </div>
</div>
